
<div class="card">
  <h3 class="card-header">Add New Friend</h3>
  <div class="card-body">

    <br/>
    
    <%= render "form", friend: @friend %>
    <br/>

    <div>
      <%= link_to "Back", friends_path, class:"btn btn-dark" %>
    </div>
  </div>
</div>
